---
---

<div class="reversi">
  <div class="reversi-first-player-wrapper">
    <div class="card">
      <div class="back">
        <div class="back-inner">
          <div class="container one">
            <div class="rhombus"></div>
          </div>
          <div class="container two">
            <div class="rhombus"></div>
          </div>
          <div class="container three">
            <div class="rhombus"></div>
          </div>
          <div class="container four">
            <div class="rhombus"></div>
          </div>
          <div class="container five">
            <div class="rhombus"></div>
          </div>
        </div>
      </div>
      <div class="front" data-first-player="" data-first-color="">
        <div>
          <p class="first-text">First</p>
          <p class="first-player"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .reversi-first-player-wrapper {
    height: 100vh;
    width: calc(100vw - 2 * 1%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    padding: 0 1%;
  }

  .card {
    width: 200px;

    position: relative;
    border-radius: 5px;
  }

  .card::before {
    content: "";
    display: block;
    padding-top: 142.5%;
  }

  .card .back,
  .card .front {
    transition: all 1.5s;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    border: solid 2px #586365;
  }

  .card .back {
    background-color: #fff;
    transform: rotateY(0);
  }

  .card .back-inner {
    background-color: #ff8b8b;
    height: calc(100% - 2 * 15px);
    margin: 15px;
    border-radius: 8px;
    border: solid 2px #586365;
    position: relative;
  }

  .container {
    position: absolute;
    display: flex;
    gap: 10px 50px;
  }

  .one {
    top: 20%;
    left: 17%;
    transform: translate(0, -50%);
  }

  .two {
    top: 20%;
    right: 17%;
    transform: translate(0, -50%);
  }

  .three {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .four {
    bottom: 20%;
    left: 17%;
    transform: translate(0, 50%);
  }

  .five {
    bottom: 20%;
    right: 17%;
    transform: translate(0, 50%);
  }

  .rhombus {
    width: 37px;
    height: 37px;
    border-radius: 2px;
    transform: rotate(45deg) skew(10deg, 10deg);
    background: #fff;
  }

  .card .front {
    transform: rotateY(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .first-text,
  .first-player {
    font-size: 2rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .first-player {
    margin-top: 15px;
    font-size: 2.5rem;
  }

  @media (max-width: 500px) {
    .card {
      width: 150px;
    }

    .rhombus {
      width: 22px;
      height: 22px;
    }

    .first-text {
      font-size: 1.8rem;
    }

    .first-player {
      font-size: 2rem;
    }
  }
</style>

<script>
  // ゲームをスタートしたのか
  const no = 0;
  const yes = 1;
  let game_start_judge = no;

  //　どちらが先行なのか
  const player_one = 1;
  const player_two = 2;
  let first_player = 0;

  // 先行の人の色は黒・白どちらか
  const black = 1;
  const white = 2;
  let first_player_color = 0;

  setInterval(function () {
    start_judge();
  }, 1000);

  function start_judge() {
    const game_start_button =
      document.querySelector<HTMLElement>(".game-start-button");
    if (
      game_start_button.getAttribute("data-value") != "" &&
      game_start_judge == no
    ) {
      const front = document.querySelector<HTMLElement>(".front");
      const back = document.querySelector<HTMLElement>(".back");
      setTimeout(function () {
        front.style.transform = "rotateY(0)";
        back.style.transform = "rotateY(180deg)";
      }, 2500);

      game_start_judge = yes;
      const data_value = game_start_button.getAttribute("data-value");
      const first_player_text =
        document.querySelector<HTMLElement>(".first-player");
      first_player = Math.floor(Math.random() * 2) + 1;

      if (data_value == "Solo-player") {
        if (first_player == black) {
          front.setAttribute("data-first-player", "black");
          first_player_text.textContent = "You";
        } else if (first_player == white) {
          front.setAttribute("data-first-player", "white");
          first_player_text.textContent = "Computer";
        }
      } else if (data_value == "Two-player") {
        if (first_player == black) {
          front.setAttribute("data-first-player", "black");
          first_player_text.textContent = "Black";
        } else if (first_player == white) {
          front.setAttribute("data-first-player", "white");
          first_player_text.textContent = "White";
        }
      }
    }
  }
</script>
