---
import First_Player_Decision_Crad from "../components/First_Player_Decision_Card.astro";
---

<div class="reversi">
  <!--  -->
  <div class="reversi-home-screen-wrapper">
    <div class="reversi-home-screen">
      <h2 class="section-title">Reversi</h2>
      <div class="flex">
        <input
          class="opponent-player-select-button opponent-player-now"
          type="button"
          data-value="Solo-player"
          value="Solo Player"
        />
        <input
          class="opponent-player-select-button"
          type="button"
          data-value="Two-player"
          value="Two Palyer"
        />
      </div>

      <!-- 対戦相手が誰なのかのデータが入っている。 -->
      <input
        class="game-start-button"
        type="button"
        data-value=""
        value="START"
      />
    </div>
  </div>

  <!--  -->
  <div class="first_player_decision_display">
    <First_Player_Decision_Crad />
  </div>
</div>

<style>
  .reversi-home-screen-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    padding: 0 1%;
  }

  .reversi-home-screen {
    max-width: 500px;
    margin: 0 auto;
    padding: 2%;
  }

  .section-title {
    font-size: 6rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    margin-bottom: 20px;
  }

  /* プレイヤー選択ボタン */
  .flex {
    display: flex;
    justify-content: center;
  }

  .opponent-player-select-button {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding: 20px 50px;
    border-radius: 10px;
    border: solid 2.1px #586365;
    transition: all 0.3s;
  }

  .opponent-player-select-button:first-of-type {
    margin-right: 15px;
  }

  .opponent-player-select-button:hover {
    opacity: 0.8;
  }

  .opponent-player-now {
    background-color: #ffe67d;
  }

  /* ゲームスタートボタン */
  .game-start-button {
    text-align: center;
    width: 100%;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding: 20px 50px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 2px #586365;
    transition: all 0.2s;
  }

  .game-start-button:hover {
    opacity: 0.8;
  }

  .game-start-button:active {
    background-color: aquamarine;
  }

  @media (max-width: 500px) {
    .section-title {
      font-size: 4rem;
    }

    .opponent-player-select-button {
      font-size: 1rem;
      padding: 10px 25px;
      margin-bottom: 10px;
    }

    .opponent-player-select-button:first-of-type {
      margin-right: 10px;
    }

    .game-start-button {
      font-size: 1.5rem;
      padding: 12px 50px;
      margin-top: 10px;
    }
  }

  /* 先行を決めるためのHTMLの表示 */
  .first_player_decision_display {
    display: none;
    opacity: 0;
    transition: all 2s;
  }
</style>

<script>
  // 対戦相手の選択表示・変更(色)
  const player_select_button = document.querySelectorAll<HTMLElement>(
    ".opponent-player-select-button"
  );
  for (const player_select_buttons of player_select_button) {
    player_select_buttons.addEventListener("click", function () {
      // 現在の対戦相手の取得
      const opponent_player_now = document.querySelector<HTMLElement>(
        ".opponent-player-now"
      );
      opponent_player_now.classList.remove("opponent-player-now");
      player_select_buttons.classList.add("opponent-player-now");
    });
  }

  // ゲームスタート時のプレイヤーデータの保存と次の画面の表示
  const game_start_button =
    document.querySelector<HTMLElement>(".game-start-button");
  game_start_button.addEventListener("click", function () {
    const opponent_player_now = document.querySelector<HTMLElement>(
      ".opponent-player-now" //現在選択している対戦相手
    );
    const game_screen = document.querySelector<HTMLElement>(
      ".reversi-home-screen-wrapper" //現在の表示画面
    );
    const first_player_decision_display = document.querySelector<HTMLElement>(
      ".first_player_decision_display" //次の表示画面
    );

    // 対戦相手の保存
    game_screen.style.opacity = "0";
    game_start_button.setAttribute(
      "data-value",
      opponent_player_now.getAttribute("data-value")
    );

    // 次の画面の表示
    setTimeout(function () {
      game_screen.style.display = "none";
      first_player_decision_display.style.display = "block";
    }, 1300);
    setTimeout(function () {
      first_player_decision_display.style.opacity = "1";
    }, 1600);
  });
</script>
