<div class="wrapper">
  <div class="game">
    <h3 class="turn">
      <div class="turn-text">turn：</div>
    </h3>
    <div class="game-board">
      <div class="flex">
        <p class="frame top left left-top-corner">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame top">
          <span class="piece white"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame top">
          <span class="piece black"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame top">
          <span class="piece"></span><span class="piece-pointer pointer"></span>
        </p>
        <p class="frame top">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame top">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame top">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame top right right-top-corner">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
      </div>
      <div class="flex">
        <p class="frame left">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame right">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
      </div>
      <div class="flex">
        <p class="frame left">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame right">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
      </div>
      <div class="flex">
        <p class="frame left">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame right">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
      </div>
      <div class="flex">
        <p class="frame left">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame right">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
      </div>
      <div class="flex">
        <p class="frame left">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame right">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
      </div>
      <div class="flex">
        <p class="frame left">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame right">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
      </div>
      <div class="flex">
        <p class="frame bottom left left-bottom-corner">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame bottom">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame bottom">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame bottom">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame bottom">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame bottom">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame bottom">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame bottom right right-bottom-corner">
          <span class="piece"></span><span class="piece-pointer"></span>
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  /* common
  --------------- */
  .wrapper {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  /* game
  --------------- */
  .game .turn {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
  }

  .game .turn .turn-text {
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  /* game-board */
  .game-board .flex {
    display: flex;
  }

  .game-board .frame {
    width: 65px;
    height: 65px;
    background-color: #7aff8c;
    border: solid 1px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    position: relative;
  }

  /* 駒 */
  .game-board .frame .piece {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  /* カーソル */
  .game-board .frame:hover .piece {
    border: solid 1px #000;
  }

  .game-board .frame .white {
    background-color: #fff;
  }

  .game-board .frame .black {
    background-color: #000;
  }

  /* ポインター */
  .game-board .frame .piece-pointer {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
  }

  .game-board .frame .pointer {
    background-color: #dedede;
  }

  /* 枠線の統一 */
  .game-board .top {
    border-top: solid 2px #000;
  }

  .game-board .left {
    border-left: solid 2px #000;
  }

  .game-board .right {
    border-right: solid 2px #000;
  }

  .game-board .bottom {
    border-bottom: solid 2px #000;
  }

  /* 角 */
  .game-board .left-top-corner {
    border-radius: 10px 0 0 0;
  }

  .game-board .right-top-corner {
    border-radius: 0 10px 0 0;
  }

  .game-board .left-bottom-corner {
    border-radius: 0 0 0 10px;
  }

  .game-board .right-bottom-corner {
    border-radius: 0 0 10px 0;
  }

  @media (max-width: 510px) {
    .game-board .frame {
      width: 45px;
      height: 45px;
    }

    .game-board .frame .piece {
      width: 30px;
      height: 30px;
    }

    .game-board .frame .piece-pointer {
      width: 10px;
      height: 10px;
    }
  }

  @media (max-width: 380px) {
    .game-board .frame {
      width: 40px;
      height: 40px;
    }

    .game-board .frame .piece {
      width: 25px;
      height: 25px;
    }

    .game-board .frame .piece-pointer {
      width: 10px;
      height: 10px;
    }
  }

  @media (max-width: 320px) {
    .game-board .frame {
      width: 30px;
      height: 30px;
    }

    .game-board .frame .piece {
      width: 20px;
      height: 20px;
    }

    .game-board .frame .piece-pointer {
      width: 10px;
      height: 10px;
    }
  }
</style>

<script>
  // 場所(number)の割り当て
  const frame = document.querySelectorAll<HTMLElement>(".frame");
  window.onload = function () {
    for (var i = 0; i < frame.length; i++) {
      frame[i].setAttribute("date-value", String(i));
    }
  };

  //   ターンの表示
  const game_start_button =
    document.querySelector<HTMLElement>(".game-start-button");
  game_start_button.addEventListener("click", function () {
    setTimeout(function () {
      const card_player = document.querySelector<HTMLElement>(".card-player");
      const card_color = document.querySelector<HTMLElement>(".card-color");
      console.log(card_color.getAttribute("color-value"));
      console.log(card_player.getAttribute("player-value"));
    }, 2000);
  });
</script>
