---
---

<div class="wrapper">
  <div class="reversi-home-screen">
    <h2 class="section-title">Reversi</h2>
    <div class="flex">
      <input
        class="opponent-player"
        type="button"
        data-value="Solo-palyer"
        value="Solo Play"
      />
      <input
        class="opponent-player"
        type="button"
        data-valur="two-palyer"
        value="Two Paly"
      />
    </div>
  </div>
</div>

<style>
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reversi-home-screen {
    max-width: 800px;
    margin: 0 auto;
  }

  .section-title {
  }

  .flex {
    display: flex;
  }

  .opponent-player {
    padding: 40px 80px;
  }
</style>
