<div class="wrapper">
  <div class="game">
    <h3 class="turn">
      <div class="text">turn：</div>
      <div class="color"></div>
      <div class="player"></div>
    </h3>
    <div class="game-board">
      <div class="flex">
        <p class="frame top left left-top-corner">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame top">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame top">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame top">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame top">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame top">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame top">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame top right right-top-corner">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
      </div>
      <div class="flex">
        <p class="frame left">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame right">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
      </div>
      <div class="flex">
        <p class="frame left">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame right">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
      </div>
      <div class="flex">
        <p class="frame left">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame right">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
      </div>
      <div class="flex">
        <p class="frame left">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame right">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
      </div>
      <div class="flex">
        <p class="frame left">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame right">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
      </div>
      <div class="flex">
        <p class="frame left">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame right">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
      </div>
      <div class="flex">
        <p class="frame bottom left left-bottom-corner">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame bottom">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame bottom">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame bottom">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame bottom">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame bottom">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame bottom">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
        <p class="frame bottom right right-bottom-corner">
          <span class="piece cursor"></span><span class="piece-pointer"></span>
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  /* common
  --------------- */
  .wrapper {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  /* game
  --------------- */
  .game .turn {
    font-size: 2rem;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .game .turn .color {
    margin-right: 5px;
  }

  /* game-board */
  .game-board .flex {
    display: flex;
  }

  .game-board .frame {
    width: 65px;
    height: 65px;
    background-color: #7aff8c;
    border: solid 1px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    position: relative;
  }

  /* 駒 */
  .game-board .frame .piece {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  /* カーソル */
  .game-board .frame:hover .cursor {
    border: solid 2px #f9ff3a;
  }

  .game-board .frame .white {
    background-color: #fff;
  }

  .game-board .frame .black {
    background-color: #000;
  }

  /* ポインター */
  .game-board .frame .piece-pointer {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
  }

  .game-board .frame .pointer {
    background-color: #a0a0a0;
  }

  /* 枠線の統一 */
  .game-board .top {
    border-top: solid 2px #000;
  }

  .game-board .left {
    border-left: solid 2px #000;
  }

  .game-board .right {
    border-right: solid 2px #000;
  }

  .game-board .bottom {
    border-bottom: solid 2px #000;
  }

  /* 角 */
  .game-board .left-top-corner {
    border-radius: 10px 0 0 0;
  }

  .game-board .right-top-corner {
    border-radius: 0 10px 0 0;
  }

  .game-board .left-bottom-corner {
    border-radius: 0 0 0 10px;
  }

  .game-board .right-bottom-corner {
    border-radius: 0 0 10px 0;
  }

  @media (max-width: 510px) {
    .game-board .frame {
      width: 45px;
      height: 45px;
    }

    .game-board .frame .piece {
      width: 30px;
      height: 30px;
    }

    .game-board .frame .piece-pointer {
      width: 10px;
      height: 10px;
    }
  }

  @media (max-width: 380px) {
    .game-board .frame {
      width: 40px;
      height: 40px;
    }

    .game-board .frame .piece {
      width: 25px;
      height: 25px;
    }

    .game-board .frame .piece-pointer {
      width: 10px;
      height: 10px;
    }
  }

  @media (max-width: 320px) {
    .game-board .frame {
      width: 30px;
      height: 30px;
    }

    .game-board .frame .piece {
      width: 20px;
      height: 20px;
    }

    .game-board .frame .piece-pointer {
      width: 10px;
      height: 10px;
    }
  }
</style>

<script>
  const frame = document.querySelectorAll<HTMLElement>(".frame");
  const cursor = document.querySelectorAll<HTMLElement>(".cursor");
  const piece = document.querySelectorAll<HTMLElement>(".piece");
  const pointer = document.querySelectorAll<HTMLElement>(".piece-pointer");

  const white = 1;
  const black = 2;
  let now_player_color = 0;

  let player_number = "two";

  //   ゲームボード　白＝1、黒＝2
  let game_board = [
    [0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 2, 0, 0, 0],
    [0, 0, 0, 0, 2, 0, 0, 0],
    [0, 0, 0, 1, 2, 0, 0, 0],
    [0, 0, 0, 2, 1, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 0, 0],
  ];

  const eight_directions = [
    [-1, 0],
    [-1, 1],
    [0, 1],
    [1, 1],
    [1, 0],
    [1, -1],
    [0, -1],
    [-1, -1],
  ];

  //   ターンの表示(元々決まった物の表示)
  const game_start_button =
    document.querySelector<HTMLElement>(".game-start-button");
  game_start_button.addEventListener("click", function () {
    setTimeout(function () {
      const card_player = document.querySelector<HTMLElement>(".card-player");
      const card_color = document.querySelector<HTMLElement>(".card-color");
      const player = document.querySelector<HTMLElement>(".player");
      const color = document.querySelector<HTMLElement>(".color");

      // 初期設定
      initialization();

      //   ターンの表示
      color.textContent = card_color.getAttribute("color-value");
      if (card_color.getAttribute("color-value") == "White") {
        now_player_color = white;
      } else if (card_color.getAttribute("color-value") == "black") {
        now_player_color = black;
      }
      if (card_player.getAttribute("player-value") != "") {
        player.textContent =
          "(" + card_player.getAttribute("player-value") + ")";
        player_number = "one";
      }
    }, 1500);
  });

  // 初期設定
  function initialization() {
    // 場所(number)の割り当て
    for (var i = 0; i < piece.length; i++) {
      piece[i].setAttribute("data-value", String(i));
    }
    game_board_change();
    put_piece_check();
  }

  // 盤面の変更表示
  function game_board_change() {
    for (var i = 0; i < 8; i++) {
      for (var j = 0; j < 5; j++) {
        let total = i * 8 + j;
        if (game_board[i][j] == white) {
          piece[total].classList.add("white");
          piece[total].classList.remove("cursor");
        } else if (game_board[i][j] == black) {
          piece[total].classList.add("black");
          piece[total].classList.remove("cursor");
        }
      }
    }
  }

  function put_piece_check() {
    for (var i = 0; i < piece.length; i++) {
      let board_number_now = frame[i].getAttribute("data-value");
      let line = Math.floor(Number(board_number_now) / 5);
      let row = Number(board_number_now) % 5;
      for (var j = 0; j < 8; j++) {
        console.log(i * 8 + j);
      }
    }
  }
</script>
